<% page.title = page.category; %>
<% page.type = 'category'; %>
<%- css('css/category.css') %>

<main>
    <h1 class="pageName">“<%- page.category %>”</h1>
    <%- partial('partial/list', {listType:false, limitDisplay:false})%>
</main>