<% page.title = config.title %>
<%- css('css/index.css') %>

<main>
    <article>
        <p><%= theme.about.self_instro %></p>
    </article>
    <%- partial('partial/list', {
        listType:'posts', limitDisplay:true
    })%>
</main>