<style>
    article h2{
        font-size: 30px;
    }
    article h3{
        font-size: 28px;
    }
    article h4{
        font-size: 26px;
    }
    article h5{
        font-size: 25px;
    }
    article h6{
        font-size: 24px;
    }
    article img{
        max-width:100%;
    }
    article code{
        font-family:'Cascadia Code', monospace;
    }
    figure.highlight{
        background-color: rgb(231, 231, 231);
        font-size:18px;
        line-height:1.5rem;
        padding:10px;
        overflow: auto;
        border-radius: 5px;
        margin:24px 60px 24px 60px;
    }
    figure.highlight pre{
        margin:10px 0 10px 0;
        font-family:'Cascadia Code', monospace;
        font-weight: 400;
    }
    figure.highlight td.gutter{
        width:2rem;
        background-color: rgb(207, 206, 206);
        border-radius: 5px;
        padding-left: 0.5rem;
        padding-right:0.5rem;
        text-align: center;
        margin-right:2rem;
    }
    figure.highlight td.code{
        padding-left:1rem;
    }
    div.endDivider{
        text-align:center;
        margin:30px auto;
        color: #464646;
        background-color: #E7E7E7;
        border-radius: 5px;
        width: 33vw;
    }

</style>
<%- page.content %>
<div class="endDivider">End</div>