html{
    font-size:12px;
}
body {
    width: 60vw;
    max-width: 1024px;
    min-width: 640px;
    margin: 0 auto;
    background-color: #FAFAFA;
    font-family: 'Inter', 'Source Han Sans SC', sans-serif;
    font-weight: 500;
    font-size:2rem;

}
main{
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{          
    color: #d7bcff; 
    border-color: #d7bcff;
}
b{
    font-weight:700;
}
header {
    display: block;
    font-size: 2rem;  
    padding-top: 8vw;  
}
article {
    display: block;
    margin-top: 50px;
    line-height: 1.5em;
}
h1.pageName{
    font-size: 6rem;
}

/* ::selection {
    background-color: <%= theme.colors.selected_text_backgroundColor %>; 
    color: <%= theme.colors.selected_text_color %>;
}

::-moz-selection {
    background-color: <%= theme.colors.selected_text_backgroundColor %>; 
    color:<%= theme.colors.selected_text_color %>;
}

::-webkit-selection {
    background-color: <%= theme.colors.selected_text_backgroundColor %>; 
    color:<%= theme.colors.selected_text_color %>;
} */
::selection {
    background:#ffe150; 
    color:#555;
}

::-moz-selection {
    background:#ffe150; 
    color:#555;
}

::-webkit-selection {
    background:#ffe150; 
    color:#555;
}