#headerShow {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#headerPosContainer {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.headerPos {
    display: inline-block;
    margin-right: 10px;
    cursor: default;
}

#moreBtn {
    display: block;
    height: 35px;
    border: none;
    width: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}
#moreBtn svg{
    width:100%;
    fill: #000;
}

#logo {
    font-weight: 700;
    color: #000;
}

#logo:hover {
    color: tomato
}
@media (prefers-color-scheme: dark) {
    #logo{
        color: #FAFAFA;
    }
    #moreBtn svg{
        fill: #FAFAFA;
    }
}