.articleList {
    margin-top: 6rem;
}

.list-entrance {
    display: block;
    line-height: 1.5em;
    margin-bottom: 4rem;
}

.list-title-date {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

.list-title-date a {
    display: block;
    width: 100%;
}

.list-title-date h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0;
}

.list-title-date time {
    display: block;
    margin-top: 0.3em;
    margin-right: 1em;
}

.list-title-date address.author {
    display: block;
    margin-top: 0.3em;
}

.list-excerpt {
    margin-top: 0.5em;
    clear: left;
}

.list-excerpt p {
    margin: 0;
}

.seeAll {
    padding: .5em 2em .5em 2em;
}

/* mobile layout, three column nav */

@media all and (min-width:520px) {
    .articleList {
        margin-top: 76px;
    }
    .list-entrance {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        box-sizing: border-box;
        line-height: 1.5em;
        margin-bottom: 35px;
    }
    .list-title-date {
        flex-basis: 30%;
        max-width: 30%;
        flex-flow: column nowrap;
    }
    .list-title-date h2 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5em;
        margin: 0;
    }
    .list-title-date time {
        display: block;
        margin-top: 10px;
        clear: right;
    }
    .list-title-date address.author {
        display: block;
        margin-top: 10px;
    }
    .list-excerpt {
        flex-basis: 66.66666666%;
        max-width: 66.66666666%;
    }
}

@media (prefers-color-scheme: dark) {
    a.seeAll {
        border-color: #FAFAFA;
    }
}