.articleList{
    margin-top:76px;
}
.list-entrance{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 35px;
}
.list-title-date{
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
}
.list-title-date h2{
    font-size:24px;
    font-weight:700;
    line-height:1.5em;
    margin:0;
}
.list-title-date time{
    display:block;
    margin-top:10px;
}
.list-excerpt{
    flex-basis: 66.66666666%;
    max-width: 66.66666666%;
    
}
.list-excerpt p{
    margin:0;
}