.siteNav{
    display: grid;
    overflow:hidden;
    margin-top: 50px;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 3.5rem 2rem;
    font-weight: 500;
}
.siteNav.siteNavTop{
    height:0px;
    opacity: 0;
}
.siteNav.siteNavinPage{
    margin-top:100px;
}
.navList{
    list-style-type: none;
    margin: 0;
    padding: 0;    
}
.navList li{
    padding-bottom: 10px;
    text-align: left;
}

/* mobile layout, three column nav */
@media all and (min-width:520px) {}
/* change the width of main */
@media all and (min-width:680px) {}
/* change the padding of header and gaps between containers. */
@media all and (min-width:767px) {}
/* laptop layout */
@media all and (min-width:1024px) {}