article h1{
    font-size:3rem;
    font-weight:700;
}
div.headImageContainer{
    width:100%;
    max-height:500px;
    overflow:hidden;
}
img.headImage{
    width:100%;
}

/* mobile layout, three column nav */
@media all and (min-width:520px) {}
/* change the width of main */
@media all and (min-width:680px) {}
/* change the padding of header and gaps between containers. */
@media all and (min-width:767px) {}
/* laptop layout */
@media all and (min-width:1024px) {}