article h1 {
    font-size: 3rem;
    font-weight: 700;
}

div.headImageContainer {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

img.headImage {
    width: 100%;
}

/* mobile layout, three column nav */

@media all and (min-width:520px) {}

/* laptop layout */

@media all and (min-width:1070px) {}