.categoryBlocksContainer{
    display:flex;
    flex-flow:column nowrap;
    width:100%;
    padding:0;
    margin:0;
    margin-top:78px;
}
.categoryBlocksContainer ul.categoryBlocks{
    display:block;
    width:100%;
    margin:0;
    padding:0;
    list-style-type: none;
    margin-bottom: 6rem;
}
.categoryBlocksContainer ul.categoryBlocks li{
    padding:0;
    width:100%;
    word-break:break-all;
}
.categoryBlocksContainer ul.categoryBlocks h2{
    font-size:2.5rem;
    font-weight:900;
    padding:0;
    margin:0;
    margin-bottom: 1em;
}
.categoryBlocksContainer ul.categoryBlocks h3{
    font-size:2.5rem;
    font-weight:500;
    padding:0;
    margin:0;
    margin-bottom: .5em;
}
.categoryBlocksContainer ul.categoryBlocks .more{
    font-size:2.5rem;
    font-weight:500;
    padding:0;
    margin:0;
}

/* mobile layout, three column nav */
@media all and (min-width:550px) {
    .categoryBlocksContainer{
        flex-flow:row wrap;
        justify-content: space-between;
    }
    .categoryBlocksContainer ul.categoryBlocks{
        width:45%;
        margin-bottom: 8rem;
    }
}